:{$PORT:8080} {
	root * /app/public

	encode gzip

	php_fastcgi 127.0.0.1:9000

	file_server

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options SAMEORIGIN
		X-XSS-Protection "1; mode=block"
	}
}
